footer {
  padding: 2rem;
  background-color: var(--light-color);
  font-size: var(--body-font-size-s);
}

footer .footer {
  max-width: 1200px;
  margin: auto;
}

footer .footer p {
  margin: 0;
}
footer {background-color:#222222 ; height: 440px;}
footer ul {float: left;}
footer .footer ul a:any-link {list-style-type: none; color: #ffffff;}
.footer p {color: #FFFFFF}