footer {
  padding: 2rem;
  background-color: var(--light-color);
  font-size: var(--body-font-size-s);
}

footer .footer {
  max-width: 1200px;
  margin: auto;
}

footer .footer p {
  margin: 0;
}
footer {background-color:#222222 ; height: 440px;}
footer ul {float: left; padding-inline-start: 0px;}
footer .footer ul a:any-link { color: #ffffff;}
.footer li{list-style-type: none;}
.footer p {color: #FFFFFF}
.footer picture img {height: fit-content !important;}